questions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="questions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="question" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="text" type="xs:string"/>
              <xs:element name="options">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="option" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="id" type="xs:string" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="nextQuestions" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="next" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="questionId" type="xs:string" use="required"/>
                        <xs:attribute name="optionId" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>

        <xs:element name="dependencies">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="recommendation" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="text" type="xs:string"/>
                    <xs:element name="conditions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="condition" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="questionId" type="xs:string" use="required"/>
                              <xs:attribute name="optionId" type="xs:string" use="required"/>
                              <xs:attribute name="logic" type="xs:string" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="document" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="text" type="xs:string"/>
                    <xs:element name="description" type="xs:string" minOccurs="0"/>
                    <xs:element name="conditions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="condition" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="questionId" type="xs:string" use="required"/>
                              <xs:attribute name="optionId" type="xs:string" use="required"/>
                              <xs:attribute name="logic" type="xs:string" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="logic" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="type" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
